<h1>Blog : <%= @post.title %></h1>

<div style="width:700px; margin:20px;">
  <table class="table table-striped table-bordered">
    <tr>
      <td width="150">
        <strong>Title:</strong>
      </td>
      <td>
        <%= @post.title %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Body:</strong>
      </td>
      <td>
        <%= @post.body %>
      </td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
